{% extends "main/base.html" %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    {% block styles %}
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
    <link href='https://api.tiles.mapbox.com/mapbox.js/v1.6.4/mapbox.css' rel='stylesheet' />
    <link rel="stylesheet" href={% static "css/map.css" %} />
    {% endblock %}
</head>
<body {% block ng-app %}ng-app="traza"{% endblock %}>
    {% block content %}
    <div id="map" ng-controller="MapController"></div>
    <div id="traza-panel" class="row" ng-controller="PanelController">
        <a class="brand" href="#">
          <img src="{% static "img/hiresicon.png" %}" height="40">
          Traza
        </a>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>Hora</h4>
          </div>
          <div class="panel-body">
            <div ng-repeat="time in filters.times">
              <input class="filter-checkbox" type="checkbox" ng-model="time.checked" ng-change="updateFilters()"> <span class="filter-text">{$time.text$}</span></input>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>Compañía</h4>
          </div>
          <div class="panel-body">
            <div ng-repeat="company in filters.companies">
              <input class="filter-checkbox" type="checkbox" ng-model="company.checked" ng-change="updateFilters()"> <span class="filter-text">{$company.text$}</span></input>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>Tipo de Red</h4>
          </div>
          <div class="panel-body">
            <div ng-repeat="networkType in filters.networkTypes">
              <input class="filter-checkbox" type="checkbox" ng-model="networkType.checked" ng-change="updateFilters()"> <span class="filter-text">{$networkType.text$}</span></input>
            </div>
          </div>
        </div>
    </div>
    {% endblock %}

    {% block footer_scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
    <script src='https://api.tiles.mapbox.com/mapbox.js/v1.6.4/mapbox.js'></script>
    <script type="text/javascript" src="{% static "js/heatmap.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/leaflet-heatmap.js" %}"></script>
    <script src={% static "js/map.js" %}></script>
    {% endblock %}
</body>
</html> 
